* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100px 100px 500px 100px;
  gap: 10px;
}

.container > div {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  text-align: center;
}

.header {
  background-color: #ffde22;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  background-color: #ff6347;
  grid-area: 2/1/-2/2;
}

.nav {
  background-color: #12cfec;
}

.article {
  background-color: #bbc9db;
}

.footer {
  background-color: #393f4d;
  grid-area: -2/1/-1/-1;
}

.container > .header .logo {
  font-size: 32px;
  font-weight: bold;
  color: black;
  padding-top: 15px;
  cursor: pointer;
}

.container > .header .logo:hover {
  background: #ff6347;
  border-radius: 10px;
  padding: 15px;
}

#nav {
  display: flex;
  gap: 10px;
}

ul li {
  list-style: none;
  background: #8e7f2a;
  border-radius: 5px;
  padding: 10px 30px 0 30px;
}

ul li a {
  text-decoration: none;
  align-items: flex-end;
  color: white;
}

ul li:hover {
  background: #ff6347;
}
